html {
    width: 751px;
    min-width: 500px;
    max-width: 1000px;
}
header{
    height: 236px;
    background-color: #2D7053;
}

body {
    height: 236px;
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    height: 142px;
    width: 142px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-top: 46px;
    margin-left: 37px;
}
 
.text, a {
    font-family:"MyriadPro-Regular";
    color: #FFFFFF;
    text-decoration: none;
}

.text {
    float: left;
    height: 131px;
    width: 134px;
    font-size: 1.875em;
    margin-left:58px;
    margin-top: 52px;
    text-align: left;
}

.menu {
    float: right;
    width: 85px;
    height: 69px;
    margin-top: 83px;
    margin-right: 45px;
}

.one {
    margin-bottom: 15px;
    height: 13px;
    width: 85px;
    border-radius: 70px;
    background-color: #FFFFFF;
}
.two {
    margin-bottom: 15px;
    height: 13px;
    width: 85px;
    border-radius: 70px;
    background-color: #FFFFFF;
}

.three {
 height: 13px;
 width: 85px;
border-radius: 70px;
background-color: #FFFFFF;
}

.photo {
    position: relative;
    background-image: url(./photo/fon.png);
    height: 466px;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photoshadow {
    position: absolute;
    right: 0;
    top:0;
    width: 99%;
    height: 444px;
    background-color: black;
    opacity: 0.4;
}

.face {
    height: 247px;
    width: 247px;
    margin-top: 73px;
    margin-left: 44px;
    border-radius: 50%;
    float:left;
}
.name {
    float:right;
    width: 245px;
    height: 27px;
    margin-top: 134px;
    margin-right: 174px;
    text-align: left;
 }

.name1 {
    float:right;
    width: 270px;
    height: 50px;
    margin-top: 29px;
    margin-right: 151px;
    text-align: left;
}
.name, .name1, .inf, .trb, .tr {
    font-family:"MyriadPro-Regular";
    color: black;
}

.name, .trb {
    font-size: 2.25em;
}

.name1, .inf, .tr {
    font-size: 1.5em;
}



.inf {
    padding-top: 380px;
    margin-left: 44px;
    width: 590px;
    height: 166px;
}

.trb {
    margin-left: 44px;
    margin-top: 46px;
    width: 630px;
}

.tr {
    margin-left: 44px;
    list-style-type: "-";
    list-style-position: inside;
    margin-top:43px;
    margin-bottom: 0;
    padding-left: 0;
}
.zapis1 {
    margin-top: 343px;
    top:0;
    position: absolute;
    height: 75px;
    width: 342px;
    background-color: #CB9223;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    position: relative;
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.box {
    height: 75px;
    width: 342px;
    background-color: #CB9223;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 49px;
}

footer {
    height: 154px;
    background-color: #888888;
}

.logo1 {
    float: left;
    height: 97px;
    width: 97px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 44px;
    margin-top: 29px;
}

.tel,.mail,.map {
    font-size: 1,125em;
}

.tm {
    float: right;
    margin-right: 45px;
    margin-top: 57px;
}

.tel {
    float: right;
    width: 136px;
    height: 15px;
    margin-bottom: 27px;
}

.mail {
    height: 17px;
    width: 144px;
}

.map {
    float: right;
    height: 17px;
    width: 199px;
    margin-right: 38px;
    margin-top: 103px;
}

@font-face {
    font-family:"MyriadPro-Regular";
    src: url(MyriadPro-Regular.ttf);
}
