header {
    height: 200px;
    width: 800px;
    border: 4px solid red;
}

nav {
    height: 400px;
    width: 100px;
    border: 2px solid orange;
    display: inline-block;
}

section {
    height: 400px;
    width: 700px;
    border: 2px solid blueviolet;
    display: inline-block;
}

footer {
    height: 200px;
    width: 800px;
    border: 4px solid brown;
}