html{
    font-size: 20px;
    
}
body {
    background-image: url(./img/background@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Courier+Prime';    
 }

 .bg-img {
    background-color: rgba(0, 0, 0, 0.8) inherit;
 }

 .containe {
     width: 81.5%;
     margin: 0 auto;
     padding:3rem 0;
 }
 
a {
    text-decoration: none;
    color: white;
}

.contacts {
    float: right;       
}

.logo {
    color: white;
    float: left;
    width: 250px;  
}

.logo::before {
    content: url(./img/logo@1X.png);
    display: inline-block;
    width: 46px;
    height: 44px;
    float: left;
}
.logo:hover::before {
    content: url(./img/2/logo@1X.png);
    width: 46px;
    height: 44px;
    color: #f26522;
   }

   .logo:hover div> span{
    color: #f26522;
}

.logo div>span:first-child {
font-size: 1.45rem;
line-height: 1.2rem;
margin-left: 20px;
}

.logo div>span:last-child {
    font-size: .9rem;
    margin-left: 20px;
}

.container {
    display: inline-block;      
}

.container__photo {
display: inline-block;
padding-top: 3rem;
padding-left: 7rem;


}

.container__photo-image {
    border-color: #cececd;
    border-width: 2px;
    border-style: solid;
    width: 308px;
    height: 200px;
    position: relative;
    overflow: hidden;
    }

.container__photo-text {
    margin: 0.5rem 0;
    text-align: center;
    color: #ffffff;
    font-size: 1rem;
}

.container__photo-details {
    display: none;
    position: absolute;
    justify-content: space-between;
    width: 308px;
    background-color: #f26522;
    color: #ffffff;
    align-items: baseline;
}

.container__photo-details a {
    margin: auto 0;
    font-size: 0.8rem;
    float: right;
    padding-right: 0.5rem;
}

.container__photo-details p {
    margin: 0;
    font-size: 1rem;
}

.container__photo-details p:first-child {
    font-size: 0.7rem;
}

.container__photo-details-price {
    padding: 1rem;
    padding-left: 2rem;
}

.container__photo:hover .container__photo-details {
    display: flex;
    transform: translateY(-100%);
    transition: all;
}

.container__photo:hover .container__photo-text {
    color: #f26522;
}

.footer {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: 2rem;
}


