

body {
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    width: 70%;
    margin: 0 auto;
}

button {
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    width: 11rem;
    height: 3rem;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    box-sizing: border-box;
    padding-top: 0.7rem;
    text-align: center;
}

.pricing_table_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.pricing_table_grid > div {
    text-transform: uppercase;
    padding: 1rem;
    color: rgba(72, 72, 72, 255);
    text-align: center;
}

div.bg-4, div.bg-5 {
    padding: 1rem 0;
}

.pricing_table_grid > div:nth-child(1) {
    grid-row: 1/3;
    padding-top: 1.5rem;
}

.pricing_table_grid > div:nth-child(13) {
    grid-column: 2/4;
}

.pricing_table_grid > div:nth-child(20) {
    grid-column: 2/5;
}

.border {
    border-right: 2px #cfcfcf solid;
}

.bg-1 {
    background-color: #fafafa;
}

.bg-2 {
    background-color: #f2f2f2;
}

.bg-3 {
    background-color: #e3e3e3;
}

.bg-4 {
    background-color: #dddddd;
}

.bg-5 {
    background-color: #eeeeee;
    height: 5rem;
   }

.bg-light_green {
    background-color: #89c331;
}

.bg-red {
    background-color: #f04a56;
}

.bg-green {
    background-color: #20807c;
}

.bg-dark {
    background-color: #484848;
}

.bg-light_green > span, .bg-red > span, .bg-green > span {
    color: white;
}

div > span {
    vertical-align: sub;
}

div > img {
    height: 23px;
}

.title-top {
    font-size: 1.2rem;
    color: #808080;
}

.title-bottom {
    font-size: 1.8rem;
}

.plan-title {
    font-size: 1.5rem;
}

.plan-title1 {
  font-size: 1.875rem;
}

.price {
    display: inline-block;
}

.price-main {
    font-size: 3.5rem;
    font-weight: 700;
}

.price-top {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

.price-bottom {
    font: 1rem;
    font-weight: 400;
    color: #939393;
}

.icon-text {
    padding-left: 0.2rem;
    vertical-align: super;
}

.contact_us-btn {
    border-bottom: 4px #404040 solid;
    margin-top: 1rem;
 }

.buy_now-btn_light-green {
    border-bottom: 4px #79b027 solid;
    margin-top: 1rem;
}

.buy_now-btn_red {
    border-bottom: 4px #df3a46 solid;
    margin-top: 1rem;
}

.buy_now-btn_green {
    border-bottom: 4px #16736f solid;
    margin-top: 1rem;
}