body {
    background-color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

h3, h4{
    font-weight: 700;
    font-size: 1.3rem;
}

button, p{
    font-size: 1rem;
    font-weight: 400;
}

a {
    padding: 0.5rem;
    font-weight: 700;
    text-decoration: none !important;
    color: black !important;
}

.mx-5 {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.pad-link a {
    padding: 0.5rem;
    float: right;
}

.btn-primary {
    color: #946FD3;
    border: #946FD3 2px solid;
    background-color: #E5E5E5;
    border-radius: 50px;
    padding: 0.5rem 2rem;
}

