.header {
    background-color: #FFFFFF;
}

.header__navigation {
    width: 90%;
    background-color: #35444F;
    margin: 0 auto;
    padding:0;
}

.header__navigation li {
    display: inline-block; 
   }

.header__navigation a {
     color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    width: 70%;
    padding: 1rem 6rem;
    font-size: 18px;
    font-family: 'Courier+Prime';
    text-align: center;  
}

.header__navigation a:hover {
  background-color: #222f3a;
}

#id1 {
color: #4BCAFF;
}

p {
    padding-left: 5%;
   font-size: 50px;
}

.sidebar {
    margin: 0;
    margin-top: 40px;
    padding: 5px;
    width: 250px;
    background-color: #FFFFFF;
    height: 300px;
    font-size: 20px;
    border:1px solid #dbdbdb;
    margin-left: 76px;
  }

  .sidebar a {
    display: block;
    color: #79858d;
    padding: 19px 30px ;
    text-decoration: none;
    font-family: 'Courier+Prime';
  }

  .sidebar a:hover {
    background-color:#dbdbdb;
    color: #2c2c2c;
    margin-left: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    width: 200px;
    padding: 0;
    height: 260px;
    background-color: #FFFFFF;     
  }

.content1 {
height: 400px;
width: 65%;
border:1px solid #dbdbdb;
background-color: #FFFFFF;
margin-top: 40px;
margin-right: 5%;
float: right;
  }

  .content1, .sidebar {
    display: inline-block;
  }

  .t1, .t2 {
    width: 60%;
    background-color: #FFFFFF;
    margin-top: 40px;
    margin-right: 7%;
    float: right;
    font-family: 'Courier+Prime';
  }

  .footer {
    background-color: #FFFFFF;
  }

  .footer__navigation {
    list-style: none;
    width: 90%;
    background-color: #b4b7ba;
    margin: 24% auto;
    padding: 0;
  }

  .footer__navigation li {
    display: inline-block;  
}

.footer__navigation a {
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 20px;
  font-family: 'Courier+Prime';
  float: left;
}

.t3 {
  color: #0d0d0d;
  padding: 1rem 2rem;
  font-size: 18px;
  font-family: 'Courier+Prime';
  float: right;
}

.footer a:hover {
  text-decoration: underline;
  color: #3181a6;  
}